@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,800;1,400&display=swap');
* {
	box-sizing: border-box;
	margin-left, margin-right: 15px;
	margin-top, margin-bottom: 15px;
}


/*
.first {
	text-align: center;
	font-size: 55px;
	padding-top, padding-bottom: 30px;
	line-height: 40px;
	width: fit-content;
}

.second {
	text-align: center;
	font-size: 55px;
	padding-top, padding-bottom: 30px;
	line-height: 40px;
	width: fit-content;

}
.third {
	display: inline-block;
	text-align: center;
	font-size: 55px;
	padding-top, padding-bottom: 30px;
	line-height: 40px;
	width: fit-content;
}

*/

/*h1 .indexClass, h2 .indexClass, h3 .indexClass {
	font-size: 55px;
	text-align: center;
	padding-top, padding-bottom: 30px;
	line-height: 40px;
}
 .indexClass{
	font-size: 35px;
	text-align: center;
	color: white;
	margin: auto;
	display: inline-block;
	vertical-align: middle;
}*/

.titlebox {
	background-color: white;
	margin-left, margin-right: auto;
	margin-top, margin-bottom: 20px;
	/*height: 60%;
	text-align: center;
	/*left: 50%;
	right: 50%;*/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	font-family: sans-serif;
	border-color: #FF369B;
	border-width: 10px;
	border-style: solid;
	/*vertical-align: middle;*/
} 
.backgroundpink{
	background-color: #FF369B;
	padding: 30px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	width: 80%;
}
#firsth1{
	font-size: 50px;
	text-align: center;
	margin: auto;
	color:black;
}
.column{
	text-align: center;
	max-width: fit-content;
	padding: 10px;
	margin-top: 10px;
	margin-left, margin-right: 30px;
	height: fit-content;
}
.column1{
	display: inline-block;
	margin-top, margin-bottom: 20px;
	margin-left, margin-right: auto;
	padding: 15px;
	background-color: #FF369B;
	text-align: center;
	height: fit-content;
	max-width: fit-content;
	color: white;
	font-size: 30px;
	border-color: white;
	border-width: 10px;
	border-style: solid;

}
.column2{
	font-family: oswald;
	display: inline-block;
	margin-left, margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	border-color: #FF369B;
	border-style: solid;
	border-width: 10px;
	background-color: white;
	text-align: center;
	padding: 20px;
	max-width: fit-content;
}

#line1 {
	text-align: center;
	font-size: 25px;
	color: black;
	font-weight: bold;
}
.list {
	text-align: center;
	font-size: 25px;
	color: white;
	line-height: 20px;
}
 #line2 {
 	text-emphasis: black;
 	font-weight: bold;
	text align: center;
	font-size: 30px;
	color: white;
}
#line3{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: white;
}
.buttons {
	margin-top: 40px;
	vertical-align: middle;
	text-align: center;
	box-align: center;
	margin-left, margin-right: 30%;
	padding-right, padding-left: 100px;
}
.button {
	display: inline-block;
	height: 85px;
	width: 140px;
	background-color: #FF369B;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
}
.button1 {
	display: inline-block;
	margin-right: 30px;
}
.button2 {
	display: inline-block;
	margin-left: 30px;
}
/
.header {
	background-color: #FF369B ;
}
.header {
	margin: auto;
	max-width: fit-content;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	padding-inline: 20px;
	display: inline-block;
}

.nycClass{
	text-align: center;
}
#nych1{
	text-align: center;
	color: black;
	/*padding: 20px;*/
	font-size: 35px;
	font-weight: bold;
	/*margin-: 10px;*/
}
#middle {
	text-align: center;
	width: fit-content;
}
#nat .insurance {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}
#ny .insurance {
	margin: 15px;
	width: 30%;
}
.insurance {
	display: inline-block;
	background-color: #FF369B;
	border-width: 10px;
	border-color: black;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.nychClass {
	font-size: 25px;
	color: white;
}
.nycClass {
	font-size: 20px;
	color: black;
}

.whitebox {
	background-color: whitesmoke;
	margin-top: 7px;
	padding: 7px;

}
.header{
	border-style: solid;
	border-width: 10px;
	border-color: #FF369B;
}
.horiz {
	width: fit-content;
	text-align: center;
	padding: auto;
	margin: auto;
}
.links {
	display: inline-block;
	text-align: center;
}
.univ {
	text-align: center;
	margin: auto;
	background-color: #FF369B;
	padding: 20px;
	width: fit-content;
}
.nath {
	text-align: center;
	font-size: 30px;
	color: white;
}
#nath1 {
	font-size: 35px;
}
h2 .nationClass {
	font-size: 40;
}
h3 .nationClass {
	font-size: 40;
}

h4 .u{
	font-size: 40;
}
p {
	font-size: 25px;
	color: black;
}
a {
	font-size: 20px;
	color: black;
}
#one {
	font-size: 15px;
}
button {
	background-color: #FF369B;
	color: white;
}
