@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Playfair+Display:ital,wght@0,500;0,600;0,800;1,400&display=swap');

body {
	font-family: Gloock, sans-serif;
	margin: 0;
	padding: 0;
}

.flexContainer {
	display: flex;
	background-color: white;
	flex-direction: column;
	max-width: 100%;
	margin-left: 4%;
	margin-right: 4%;
	align-content: space-between;
	gap: 30px;
}
.flexContainerHome{
	height: 100vh;
	width: 100vw;
	display: flex;
	background color: rgb(150, 100, 96);
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.headerHome{
	text-align: center;
	font-size: 2.6vmax;
}
.menuBar{
	justify-self: center;
	display: flex;
	width: 100vmax;
	height: 10vmax;
	justify-content: center;
	gap: 60px;
}
.menuButtons{
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: rgb(245, 128, 122);
	color: black;
	height: auto;
	width: 15vmax;
	font-size: 2vmax;
	text-align: center;
	padding: 5px;
	margin: 1vmax;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
.buttonText{
	color: black;
	margin-top: 5%;
	margin-bottom: 5%;
}
.blackButton{
	color: white;
	margin-top: 5%;
	margin-bottom: 5%;
	height: auto;
	width: height*1.6;

}
.links{
	color: black;
}
#nationLinks {
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

#did {
	font-size: 2.3vmax;
}
.homeBox {
	justify-content: center;
	align-self: center;
	justify-self: center;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 75vw;
	height:fit-content;
	background-color: rgb(245, 128, 122);
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	font-size: 2vmax;
	border-style: solid;
	border-color: black;
	border-width: 3px;
}
.ribbon {
	background-color: rgb(245, 128, 122);
	height: 10px;
	width: 100%;
}
.columnParent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px; 
	align-content: space-between;
	gap: 10px;
}
.header {
	margin-bottom: 5px;
	padding-bottom: 0px;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}
.headerText {
	font-size: 5vmax;
	text-align: left;
	color: black;
}
.column {
	display: flex;
	flex-direction: column;
	border-style: double;
	border-color: black;
	border-width: 5px;
	padding: 15px;
	background-color: rgb(245, 128, 122);
}
.nycColumn {
	display: flex;
	width: 30%;
	flex-direction: column;
	border-style: double;
	border-color: black;
	border-width: 5px;
	padding: 15px;
	background-color: rgb(245, 128, 122);
}

.columnTitle {
	font-size: 2vmax
}
.columnText {
	font-size: 1.25vmax;
}
.columnImg {
	width: 100%;
	height: auto;
}
.button {
	align-self: baseline;
	display: flex;
	background: black;
	width: 15%;
	height: fit-content;
	font-size: 15px;
	color: white;
	align-content: center;
	justify-content: center;
	padding-bottom: 3px;
	padding-top: 3px;
}
.space {
	height: 100px;
}
.scrollParent {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.hContainer {
	width: 100%;
	border-style: double;
	border-width: 5px;
	border-color: black;
	background-color: rgb(245, 128, 122);
	padding: 10px;
}
.sectionTitle {
	font-size: 2.8vmax;
}
.table {
	display: flex;
	flex-direction: column;
	width: 98%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}
.tablecontent {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	border-style: solid none;
	border-color: black;
	border-width: 1px;
}
.name {
	width: 50%;
	height: 100%;
	border-right-style: solid;
	border-color: black;
	border-width: 3px;
	padding: 5px;
}
.description {
	padding: 5px;
	width: 50%;
	height: 100%;
}
.state {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;
	text-align: left;
	border-style: solid;
	border-width: 3px;
	border-color:black;
}
.stateName {
	font-size: 2vmax;
	font-weight: !important;
}
.stateBody{
	display: flex;
	flex-direction: column;
	font-size: 1.3vmax;
	padding: 15px;
	height: auto;
	align-content: space-between;
	gap: 1.3vmax
}
.sect {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

